.container{
    background-image: url("https://i.postimg.cc/sgSC7xpr/full-page.png");
    background-size: cover;
  
  }
  
  .main{
    background-image: url("https://i.postimg.cc/sgSC7xpr/full-page.png");
    background-size: cover; 
  
  }