.container{
    background-image: url("https://cdn.pixabay.com/photo/2022/11/17/20/45/20-45-44-573_1280.jpg");
    background-size: cover;
  
  }
  
  .main{
    background-image: url("https://cdn.pixabay.com/photo/2022/11/17/20/45/20-45-44-573_1280.jpg");
    background-size: cover; 
  
  }