.container{
    background-image: url("https://i.postimg.cc/D0q11qyG/Player.png");
    background-size: cover;
  
  }
  
.player{
    background-image: url("https://i.postimg.cc/D0q11qyG/Player.png");
    background-size: cover; 
  
  }

